@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf');
}
body {
	font-family: 'Lato', sans-serif;
}
.d-none {
	display: none;
}
.d-block {
	display: inline-block;
}
.d-inline-block {
	display: inline-block;
}
.text-center {
	text-align: center;
}
.clear {
	clear: both;
}
.header {
	background-color: #ddd;
	padding: 5px;
	padding-left: 5%;
}
.header span {
	float: right;
	cursor: pointer;
}
.header span img {
	width: 20px;
}
.container {
	width: 250px;
	height: auto;
	min-height: 100px;
	position: relative;
}

/* main page */
.block {
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	padding-bottom: 5px;
	cursor: pointer;
}
.block:hover .line-time {
	background-color: orange;
}

.code {
	text-align: left;
	font-size: 30px;
	color: #000;
	font-weight: 100;
	letter-spacing: 2px;
	/*color: #00bcd4;*/
	color: #000;
}
.name {
	font-size: 15px;
	color: #008ba3;
}
.line-time {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000;
	margin-top: 7px;
	transition: 0.5s all;
}

/* setting page*/

.setting-page {
	display: none;
	position: relative;
	padding-top: 10px;
}
.setting-page .form-group:last-child {
	border-bottom: none;
}
.form-group {
	margin: 20px 0;
	padding: 10px 0;
	width: 90%;
	display: block;
	margin: 0 auto;
	/*border-bottom: 1px solid #000;*/
}
.form-group input {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 5px;
	width: 100%;
	box-sizing: border-box;
}